<p> <strong>Author: </strong>
  <%= opinion.author %>
</p>

<p>
  <%= opinion.text %>

</p>
<p>_________________________________________________</p>

<% if admin_signed_in? %>
  <%= link_to "Delete opinion", car_opinion_path(@car, opinion),
                                method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
