<p> Author
  <%= opinion.author %>
</p>

<p>
  <%= opinion.text %>
</p>

<% if admin_signed_in? %>
  <%= link_to "Delete opinion", car_opinion_path(@car, opinion),
                                method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
