<p> all available cars will be here </p>

<% @cars.each do |car| %>
<p>
  <%= car.brand %>
  <%= car.model %>
  <%= link_to "more info", car_path(car) %>
</p>
<% end %>

<%= link_to "Dodaj samochód", new_car_path  %>
